[user]
	name = les
	email = les@toppath.tw
[alias]
	ci = commit
	st = status
	co = checkout
	br = branch
	logv = log --name-status --graph
	dcommit = svn dcommit
    re = rebase # 使用 re 代替 merge 。讓歷史更清楚
    pull = pull --rebase
	d = difftool
    cfg2 = cherry-pick "5844a3c1f325f34762b898cc39f61a308550c772"
[color]
        log = auto
        diff = auto
        status = auto
        branch = auto
        ui = true
[log]
	date = local

[branch]
    autosetuprebase = always # 对所有的 tracking branches 都设置 rebase

[core]
    editor = vim
    ignorecase = false
    #compression = -1
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[pager]
	branch = false
[http]
	postBuffer = 524288000
